@model TdM.Web.Models.ViewModels.NavbarViewModel
@using Microsoft.AspNetCore.Identity
@using TdM.Database.Models.Domain.Enums
@using System.Globalization;

@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = Model.Mundo.Nome + ", " + Model.Mundo.CurtaDescricao;
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/IndexMundo.css" />
</head>
<!-- Include the navbar partial view and pass the Mundo object to it -->
@await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel { MundoUrlHandle = Model.Mundo.UrlHandle, Mundo = Model.Mundo })
@if (Model != null)
{


    <!-- Content section-->
    <section class="py-2">
        <div class="container my-5 col-md-5">
            <div class="row justify-content-center ">
                <div class="w-100 col-lg-6">
                    @Html.Raw(Model.Mundo.Descricao)
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid mb-2 p-3">
            @if (Model.Mundo.Contos != null && Model.Mundo.Contos.Any())
            {
                <div class="container-fluid col-xl-8 my-2 py-2">
                    <a asp-area="" asp-controller="Contos" asp-action="List" asp-route-urlHandle="@Model.MundoUrlHandle"><h2 class="text-center text-body-secondary m-1">Featured Stories</h2></a>
                    <div id="carouselContos" class="carousel slide">
                        <div class="carousel-indicators">
                            @for (var i = 0; i < Model.Mundo.Contos.Count(); i++)
                            {
                                <button type="button" data-bs-target="#carouselContos" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="@((i == 0) ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @foreach (var conto in Model.Mundo.Contos.Where(co => co.Visible == true).OrderByDescending(co => co.PublishedDate).Take(3))
                            {
                                <div class="carousel-item @((conto == Model.Mundo.Contos.First()) ? "active" : "")" style="height:40rem;">
                                    <a asp-area="" asp-controller="Contos" asp-action="Index" asp-route-urlHandle="@conto.UrlHandle">
                                        <img src="@conto.ImgCard" class="d-block w-100 h-100 objcenter object-fit-cover" alt="...">
                                    </a>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@conto.Titulo</h5>
                                        <p>By @conto.Autor.GetDisplayName()</p>
                                    </div>
                                    <div class="end-0 bottom-0 position-absolute p-3"><p>Published at @conto.PublishedDate</p></div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselContos" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselContos" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }

            @if (Model.Mundo.Personagens != null && Model.Mundo.Personagens.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <a asp-area="" asp-controller="Personagens" asp-action="List" asp-route-urlHandle="@Model.MundoUrlHandle"><h2 class="text-center text-body-secondary m-1">Featured Characters</h2></a>
                    @foreach (var personagem in Model.Mundo.Personagens.Where(pe => pe.Visible == true).OrderByDescending(pe => pe.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-1 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <a class="text-white" asp-area="" asp-controller="Personagens" asp-action="Index" asp-route-urlHandle="@personagem.UrlHandle">
                                <div class="card_mask p-0 justify-content-between">
                                    <img src="@personagem.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                </div>
                                <div class="mask_text w-100">
                                    <div class="card-body">
                                        <ul id="listcardbottom" class="list-group list-group-flush">

                                            <li><h3 class="card-title">@personagem.Nome</h3></li>
                                            <li><p class="mb-3 card-text text-nowrap text-secondary" style="font-size:16px;">@personagem.CurtaDescricao</p></li>
                                            @if (personagem.Regiao != null)
                                            {
                                                <li class="list-group-item">@personagem.Regiao?.Nome</li>
                                            }
                                            else
                                            {
                                                <li class="list-group-item text-secondary">No Type</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }

            @if (Model.Mundo.Regioes != null && Model.Mundo.Regioes.Any())
            {
                <div class=" border-top border-secondary-subtle border-1"></div>
                <div class="container-fluid col-xl-8 my-2">
                    <a asp-area="" asp-controller="Continentes" asp-action="List" asp-route-urlHandle="@Model.MundoUrlHandle"><h2 class="text-center text-body-secondary m-1">Featured Regions</h2></a>

                    <div id="carouselRegioes" class="carousel slide mb-3">
                        <div class="carousel-indicators">
                            @for (var i = 0; i < Model.Mundo.Regioes.Count(); i++)
                            {
                                <button type="button" data-bs-target="#carouselRegioes" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="@((i == 0) ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @foreach (var regiao in Model.Mundo.Regioes.Where(r => r.Visible == true).OrderByDescending(r => r.PublishedDate).Take(6))
                            {
                                <div class="carousel-item @((regiao == Model.Mundo.Regioes.First()) ? "active" : "")" style="max-height:20rem;">
                                    <a asp-area="" asp-controller="Regioes" asp-action="Index" asp-route-urlHandle="@regiao.UrlHandle">
                                        <img src="@regiao.ImgCard" class="d-block w-100 objcenter" alt="...">
                                        <img src="@regiao.Simbolo" class="imground objcenter opacity-25" alt="Responsive Image">
                                    </a>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>@regiao.Nome</h5>
                                        @if (regiao.Continente != null)
                                        {
                                            <p class="text-black"><a class="link-dark" asp-area="" asp-controller="Continentes" asp-action="Index" asp-route-urlHandle="@regiao.Continente?.UrlHandle">Contient of @regiao.Continente?.Nome</a></p>
                                        }
                                        <p>@regiao.CurtaDescricao</p>
                                    </div>
                                    <div class="end-0 bottom-0 position-absolute p-3"><p>Published at @regiao.PublishedDate</p></div>
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselRegioes" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselRegioes" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }

            @if (Model.Mundo.Criaturas != null && Model.Mundo.Criaturas.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <a asp-area="" asp-controller="Criaturas" asp-action="List" asp-route-urlHandle="@Model.MundoUrlHandle"><h2 class="text-center text-body-secondary m-1">Featured Creatures</h2></a>
                    @foreach (var criatura in Model.Mundo.Criaturas.Where(cr => cr.Visible == true).OrderByDescending(cr => cr.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-2 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <a class="text-white" asp-area="" asp-controller="Criaturas" asp-action="Index" asp-route-urlHandle="@criatura.UrlHandle">
                                <div class="card_mask p-0 justify-content-between">
                                    <img src="@criatura.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                </div>
                                <div class="mask_text w-100">
                                    <div class="card-body">
                                        <ul id="listcardbottom" class="list-group list-group-flush">
                                            <li><h3 class="card-title">@criatura.Nome</h3></li>
                                            <li><p class="mb-2 card-text text-nowrap text-secondary" style="font-size:16px;">@criatura.CurtaDescricao</p></li>
                                            @if (criatura.Tipo != null)
                                            {
                                                <li class="list-group-item">@criatura.Tipo?.GetDisplayName()</li>
                                            }
                                            else
                                            {
                                                <li class="list-group-item text-secondary">No Type</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }

            @if (Model.Mundo.Povos != null && Model.Mundo.Povos.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <a asp-area="" asp-controller="Povos" asp-action="List" asp-route-urlHandle="@Model.MundoUrlHandle"><h2 class="text-center text-body-secondary m-1">Featured Peoples</h2></a>
                    @foreach (var povo in Model.Mundo.Povos.Where(po => po.Visible == true).OrderByDescending(po => po.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-2 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <a class="text-white" asp-area="" asp-controller="Povos" asp-action="Index" asp-route-urlHandle="@povo.UrlHandle">
                                <div class="card_mask p-0 justify-content-between">
                                    <img src="@povo.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                </div>
                                <div class="mask_text w-100 py-5">
                                    <div class="card-body">
                                        <ul id="listcardbottom" class="list-group list-group-flush">
                                            <li><h3 class="card-title">@povo.Nome</h3></li>
                                            <li><p class="card-text text-nowrap text-secondary" style="font-size:16px;">@povo.CurtaDescricao</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }

        </div>
    </section>
}

else
{
    <p>World not found!</p>
}
