@model List<TdM.Database.Models.Domain.Mundo>
@using TdM.Database.Models.Domain.Enums;
@{

}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all Worlds - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
       
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>World</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>World Building</th>
                    <th></th>
                </tr>
            </thead>  
            <tbody>
                @foreach (var mundo in Model)
                {
                    <tr>
                        <td>@mundo.Id</td>
                        <td>@mundo.Nome</td>
                        <td>@mundo.Descricao</td>
                        <td>@mundo.Autor</td>
                        <td>
                            <div class="dropdown d-flex  mb-1">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Continents
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        @foreach(var continente in mundo.Continentes)
                                        {
                                        <li><a class="dropdown-item" asp-route-id="@continente.Id">@continente.Nome</a></li>
                                        }
                                </ul>
                                    </div>
                            <div class="dropdown d-flex mb-1">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Continents
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            @foreach (var continente in mundo.Continentes)
                                            {
                                        <li><a class="dropdown-item" asp-route-id="@continente.Id">@continente.Nome</a></li>
                                            }
                                </ul>
                            </div>
                            @*new dropdown goes here*@
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Mundos" asp-action="Edit" asp-route-id="@mundo.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Worlds found!</p>
    }
</div>
