@model TdM.Web.Models.ViewModels.LoginViewModel
@{
}
<partial name="_Navbar2" />
<div class="container mx-auto mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mt-3 mb-3 h3">
                Login
            </h1>               
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" id="username" class="form-control" asp-for="Username" required />
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" asp-for="Password" required minlenght="6" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                    <p class="mt-1">
                        <a class="link-body-emphasis"href="@Url.Action("ForgotPassword")">Forgot Password?</a>
                    </p>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-secondary">Login</button>
                </div>
                @if (TempData.ContainsKey("VerificationEmailSent"))
                {
                    <div class="alert alert-warning">
                        @TempData["VerificationEmailSent"]
                    </div>
                }

                @if (TempData.ContainsKey("EmailVerified"))
                {
                    <div class="alert alert-success">
                        @TempData["EmailVerified"]
                    </div>
                }
                else if (TempData.ContainsKey("EmailVerificationFailed"))
                {
                    <div class="alert alert-danger">
                        @TempData["EmailVerificationFailed"]
                    </div>
                }

                @if (TempData.ContainsKey("RegisterConfirmed"))
                {
                    <div class="alert alert-success">
                        @TempData["RegisterConfirmed"]
                    </div>
                }
                <input type="hidden" asp-for="ReturnUrl" />
            </form>
        </div>
    </div>
</div>