@model List<TdM.Database.Models.Domain.Criatura>
@using TdM.Database.Models.Domain.Enums;
@{

}
<partial name="_Navbar2" />
<div class="row mt-4 mb-5">
    <h1 class="text-center">List Creatures - Admin Functionality</h1>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover table-responsive-sx" id="table">
            <thead class="text-nowrap">
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">World <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(2)">Creature <span class="pointer">&#9660</span></th>
                    <th class="dnone" onclick="sortTable(4)">Type <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var criatura in Model)
                {
                    <tr>
                        <td id="tdid">@criatura.Id</td>
                        <td>@criatura.Mundo?.Nome</td>
                        <td>
                            <div class="btn-group w-100" role="group">
                                <button type="button" class="btn btn-secondary bg-transparent w-100">
                                    <a class="dropdown-item text-body" asp-controller="Criaturas" asp-action="index" asp-route-urlHandle="@criatura.UrlHandle">@criatura.Nome</a>
                                </button>
                                <button type="button" class="btn btn-secondary bg-transparent creatureBuildButton dropdown-toggle dropdown-toggle-split text-body" data-criatura-id="@criatura.Id" style="width: 50px;"></button>
                            </div>
                        </td>
                        <td class="dnone">@criatura.Tipo.GetValueOrDefault()</td>
                        <td id="tddesc">@criatura.CurtaDescricao</td>
                        <td class="published-date">@criatura.PublishedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <form method="post" asp-controller="AdminCriaturas" asp-action="Delete" asp-route-id="@criatura.Id" id="deleteForm-@criatura.Id">
                                <ul class="list-inline text-nowrap m-0">
                                    <li class="list-inline-item">
                                        <a class="btn btn-sm rounded-0" type="button" asp-area="" asp-controller="AdminCriaturas" asp-action="Edit" asp-route-id="@criatura.Id"><i class="bi bi-pencil-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-sm rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal-@criatura.Id"><i class="bi bi-trash-fill"></i></button>
                                    </li>
                                    @if (criatura.Visible == false)
                                    {
                                        <li class="list-inline-item">
                                            <a class="btn btn-sm bg-transparent border-0 disabled"><i class="bi bi-eye-slash"></i></a>
                                        </li>
                                    }
                                </ul>
                                <!-- Modal Delete -->
                                <div class="modal fade" id="ConfirmDeleteModal-@criatura.Id" tabindex="-1" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this creature?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Modal Build -->
                            <div class="modal fade" id="creatureBuildModal" tabindex="-1" aria-labelledby="creatureBuildModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-fullscreen-lg-down">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="creatureBuildModalLabel">Creature Build</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body align-items-center justify-content-center text-center" id="creatureBuildModalBody">
                                            <!-- Content will be dynamically loaded here -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Creatures found!</p>
    }
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/SortElements.js"></script>
    <script type="text/javascript" src="~/js/DropdownBuild.js"></script>

    <script>
        $(document).ready(function () {
            $('.creatureBuildButton').click(function () {
                var criaturaId = $(this).data('criatura-id');

                $.get('@Url.Action("CreatureBuildModal", "AdminCriaturas")', { criaturaId: criaturaId }, function (data) {
                    $('#creatureBuildModalBody').html(data);
                    $('#creatureBuildModal').modal('show');
                });
            });
        });
    </script>
}