@model List<TdM.Database.Models.Domain.Continente>
@{
    ViewData["Title"] = "Continent's Page";
}

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <div class="d-flex flex-column bd-highlight mb-3">
            @foreach (var continente in Model)
            {
                <div class="card bg-dark text-white m-3 col-12 " style="height:350px;">
                    <img src="@continente.ImgCard" class="card-img h-100 w-100" style=" object-fit: cover" alt="Responsive Image">
                    <div class="card-img-overlay">
                        <button id="btnEdit" class="btn btn-warning btn-small position-absolute top-0 start-100 translate-middle">
                            <a class="" asp-area="btnEdit" asp-controller="Continentes" asp-action="Edit" asp-route-id="@continente.Id"><i class="bi bi-wrench-adjustable"></i></a>
                        </button>
                        <h5 class="card-title">@continente.Nome</h5>
                        <p class="card-text text-black ">@continente.Descricao</p>
                        <p class="card-text text-capitalize">Por @continente.Mundo</p>
                    </div>

                </div>


            }
        </div>

    }
    else
    {
        <p>No Continents found!</p>
    }
</div>
