@model List<TdM.Database.Models.Domain.Personagem>
@using TdM.Database.Models.Domain.Enums;
@{

}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all Characters - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">Character <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>
                    <th onclick="sortTable(2)">Race <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(4)">Class <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(5)">Region <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(6)">World <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var personagem in Model)
                {
                    <tr>
                        <td id="tdid">@personagem.Id</td>
                        <td>@($"{personagem.Nome}, {personagem.Titulo}")</td>
                        <td id="tddesc">@personagem.CurtaDescricao</td>
                        <td>@personagem.Raca?.GetDisplayName()</td>
                        <td>@personagem.Classe?.GetDisplayName()</td>
                        <td>@personagem.Regiao?.Nome</td>
                        <td>@personagem.Mundo?.Nome</td>
                        <td class="published-date">@personagem.PublishedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <form method="post" asp-controller="AdminPersonagens" asp-action="Delete" asp-route-id="@personagem.Id" id="deleteForm-@personagem.Id">
                                <div class="d-flex">
                                    <a class="mx-1" asp-area="" asp-controller="AdminPersonagens" asp-action="Edit" asp-route-id="@personagem.Id">Edit</a>
                                    <a href="#" class="text-danger mx-1" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal-@personagem.Id">Delete</a>
                                </div>
                                <!-- Modal Delete -->
                                <div class="modal fade" id="ConfirmDeleteModal-@personagem.Id" tabindex="-1" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this character?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Characters found!</p>
    }
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/SortElements.js"></script>
}