@model TdM.Web.Models.ViewModels.EditContoRequest
@using TdM.Database.Models.Domain.Enums
@{
}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Edit Story - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5 col-8">
    @if (Model != null)
    {
        <form method="post">

            <div class="mb-3 col-8">
                <label class="form-label" for="id">Id</label>
                <input type="text" class="form-control" id="id" asp-for="Id" required/>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label" for="nome">Title</label>
                <input type="text" class="form-control" id="nome" asp-for="Titulo" required />
                <span class="text-danger" asp-validation-for="Titulo"></span>

            </div>

            <div class=" mb-3 form-group col-8">
                <label for="autor" class="form-label">Author</label>
                <select id="autor" asp-for="Autor" class="form-control" asp-items="Html.GetEnumSelectList<Autor>()" required>
                    <option value="">Select Author ...</option>
                </select>
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>

            <div class="form-check form-switch mb-3">
                <label class="form-check-label" for="visible">Audio Drama?</label>
                <input class="form-check-input" type="checkbox" id="audiodrama" asp-for="AudioDrama" required checked>
                <span class="text-danger" asp-validation-for="AudioDrama"></span>

            </div>

            <div class="mb-3">
                <label for="descricao" class="form-label">Body Text</label>
                <textarea placeholder="Story's body" id="descricao" name="Corpo" asp-for="Corpo"></textarea>
                <span class="text-danger" asp-validation-for="Corpo"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Upload Display Image</label>
                <input type="file" id="ImageCardUpload" class="form-control" />

                @if (Model.ImgCard != null)
                {
                    <img src="@Model.ImgCard" id="ImageCardUploadDisplay" style="width:300px; margin-top:1em;" />

                }
                else
                {
                    <img src="" id="ImageCardUploadDisplay" style="width:300px; margin-top:1em;" />

                }
            </div>

            <div class="mb-3">
                <label class="form-label" for="ImgCardUrl">Display Image</label>
                <input type="text" class="form-control" id="ImgCardUrl" placeholder="Image's URL" asp-for="ImgCard" />
            </div>

            <div class="mb-3">
                <label class="form-label">Upload Content Image</label>
                <input type="file" id="ImageBoxUpload" class="form-control" />

                @if (Model.ImgBox != null)
                {
                    <img src="@Model.ImgBox" id="ImageBoxUploadDisplay" style="width:300px; margin-top:1em;" />

                }
                else
                {
                    <img src="" id="ImageBoxUploadDisplay" style="width:300px; margin-top:1em;" />

                }
            </div>
            <div class="mb-3">
                <label class="form-label" for="ImgBoxUrl">Content Image</label>
                <input type="text" class="form-control" id="ImgBoxUrl" placeholder="Image's URL" asp-for="ImgBox" />
            </div>

            <div class="mb-3 col-2">
                <label class="form-label">Published Date</label>
                <input type="datetime-local" class="form-control" id="publishedDate" asp-for="PublishedDate" required />
                <span class="text-danger" asp-validation-for="PublishedDate"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">URL Handle</label>
                <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" required />
                <span class="text-danger" asp-validation-for="UrlHandle"></span>

            </div>

            <div class="form-check form-switch mb-3">
                <label class="form-check-label" for="visible">Visible?</label>
                <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" required checked>
                <span class="text-danger" asp-validation-for="Visible"></span>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label">World</label>
                <select id="SelectedMundo" class="form-select" asp-items="@Model.Mundos" asp-for="SelectedMundo" onchange="updateContinentes() ">
                    <option value="" class="text-danger">No World</option>
                </select>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label">Continents</label>
                <select id="SelectedContinentes" class="form-control" asp-items="@Model.Continentes" asp-for="SelectedContinentes" onchange="updateRegioes()" multiple>
                </select>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label">Regions</label>
                <select id="SelectedRegioes" class="form-select" asp-items="@Model.Regioes" asp-for="SelectedRegioes" onchange="updatePersonagens(), updateCriaturas(),  updatePovos()" multiple>
                </select>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label">Characters</label>
                <select id="SelectedPersonagens" class="form-select" asp-items="@Model.Personagens" asp-for="SelectedPersonagens" multiple>
                </select>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label">Creatures</label>
                <select id="SelectedCriaturas" class="form-select" asp-items="@Model.Criaturas" asp-for="SelectedCriaturas" multiple>
                </select>
            </div>

            <div class="mb-3 col-8">
                <label class="form-label">People</label>
                <select id="SelectedPovos" class="form-select" asp-items="@Model.Povos" asp-for="SelectedPovos" multiple>
                </select>
            </div>

            <div class="mb-3">
                <div class="d-flex">
                    <button type="submit" class="btn btn-dark">Update</button>
                    <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#confirmDelete">
                        Delete
                    </button>
                </div>
            </div> <div class="mb-3">
                <button type="submit" class="btn btn-dark">
                    Save
                </button>
            </div>

            <!-- Modal Delete -->
            <div class="modal fade " id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to delete this people?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <button class="btn btn-danger ms-2" type="submit" asp-area="" asp-controller="AdminPovos" asp-action="Delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    }
    else
    {
        <p>Story not found!</p>
    }
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/Formulario.js"></script>
}