@model List<TdM.Database.Models.Domain.Povo>
@using TdM.Database.Models.Domain.Enums;
@{

}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all People - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {

        <table class="table table-hover  table-responsive-sx" id="table">
            <thead>
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">People <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>
                    <th onclick="sortTable(4)">World <span class="pointer">&#9660</span></th>
                    <th>People Building</th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var povo in Model)
                {
                    <tr>
                        <td id="tdid">@povo.Id</td>
                        <td>@povo.Nome</td>
                        <td id="tddesc">@povo.CurtaDescricao</td>
                        <td>@povo.Mundo?.Nome</td>
                        <td>
                            <div class="dropdown w-100" id="worldbuild">
                                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="worldDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @povo.Nome
                                </button>
                                <div class="dropdown-menu w-100 text-center" aria-labelledby="worldDropdownButton">
                                    <div class="dropdown">
                                        <button class="dropdown-item dropdown-toggle" type="button" id="charactersDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Characters
                                        </button>
                                    </div>
                                    <div class="dropdown w-100 text-center" id="continentsDropdown">
                                        <button class="dropdown-item dropdown-toggle" type="button" id="continentsDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Continents
                                        </button>

                                        <div class="dropdown-menu w-100 text-center" aria-labelledby="continentsDropdownButton">
                                            @if (povo.Continentes != null && povo.Continentes.Any())
                                            {
                                                @foreach (var continente in povo.Continentes)
                                                {
                                                    <button class="dropdown-item dropdown-toggle" type="button" id="continente-@continente.Id"
                                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        @continente.Nome
                                                    </button>
                                                    <div class="dropdown-menu w-100" aria-labelledby="continente-@continente.Id-dropdown">
                                                        @if (continente.Regioes != null && continente.Regioes.Any())
                                                        {
                                                            @foreach (var regiao in continente.Regioes)
                                                            {
                                                                <a class="dropdown-item" href="#">@regiao.Nome</a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a class="dropdown-item text-danger" href="#">No regions found!</a>
                                                        }
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <a class="dropdown-item text-danger" href="#">No continents found!</a>
                                            }
                                        </div>

                                    </div>

                                    <div class="dropdown">
                                        <button class="dropdown-item dropdown-toggle" type="button" id="creaturesDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Creatures
                                        </button>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropdown-item dropdown-toggle" type="button" id="peoplesDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            People
                                        </button>
                                    </div>
                                    <div class="dropdown">
                                        <button class="dropdown-item dropdown-toggle" type="button" id="storiesDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Stories
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="published-date">@povo.PublishedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <form method="post" asp-controller="AdminPovos" asp-action="Delete" asp-route-id="@povo.Id" id="deleteForm-@povo.Id">
                                <div class="d-flex">
                                    <a class="mx-1" asp-area="" asp-controller="AdminPovos" asp-action="Edit" asp-route-id="@povo.Id">Edit</a>
                                    <a href="#" class="text-danger mx-1" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal-@povo.Id">Delete</a>
                                </div>
                                <!-- Modal Delete -->
                                <div class="modal fade" id="ConfirmDeleteModal-@povo.Id" tabindex="-1" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this people?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No People found!</p>
    }
</div>
@section Scripts
    {
    <script type="text/javascript" src="~/js/SortElements.js"></script>
}