@model List<TdM.Database.Models.Domain.Povo>
@using TdM.Database.Models.Domain.Enums;
@{

}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all People - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover  table-responsive-sx" id="table">
            <thead>
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">World <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(2)">People <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var povo in Model)
                {
                    <tr>
                        <td id="tdid">@povo.Id</td>
                        <td>@povo.Mundo?.Nome</td>
                        <td>
                            <div class="dropdown" id="worldbuild">
                                <button class=" nav-link dropdown-toggle" type="button" id="worldDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @povo.Nome
                                </button>
                                <ul class="dropdown-menu text-center " aria-labelledby="worldDropdownButton">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Povos" asp-action="index" asp-route-urlHandle="@povo.UrlHandle">@povo.Nome</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="continentsDropdown">
                                            Continents &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="continentsDropdownButton">
                                            @if (povo.Continentes != null && povo.Continentes.Any())
                                            {
                                                @foreach (var continente in povo.Continentes.OrderBy(c => c.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Continentes" asp-action="index" asp-route-urlHandle="@continente.UrlHandle" id="regionDropdown">@continente.Nome &raquo </a>
                                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="regionDropdown">
                                                            @if (continente.Regioes != null && continente.Regioes.Any())
                                                            {
                                                                @foreach (var regiao in continente.Regioes.Where(r => r.Povos.Any()).OrderBy(r => r.Nome))
                                                                {
                                                                    <li>
                                                                        <a class="dropdown-item" asp-controller="Regioes" asp-action="index" asp-route-urlHandle="@regiao.UrlHandle">@regiao.Nome</a>
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <li class="dropdown-item text-danger" href="#">No regions found!</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No continents found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="charactersDropdown">
                                            Characters &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="charactersDropdown">
                                            @if (povo.Personagens != null && povo.Personagens.Any())
                                            {
                                                @foreach (var personagem in povo.Personagens.OrderBy(r => r.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Personagens" asp-action="index" asp-route-urlHandle="@personagem.UrlHandle">@personagem.Nome</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No characters found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="creaturesDropdown">
                                            Creatures &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="creaturesDropdown">
                                            @if (povo.Criaturas != null && povo.Criaturas.Any())
                                            {
                                                @foreach (var criatura in povo.Criaturas.OrderBy(r => r.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Criaturas" asp-action="index" asp-route-urlHandle="@criatura.UrlHandle">@criatura.Nome</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No creatures found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="creaturesDropdown">
                                            Stories &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="creaturesDropdown">
                                            @if (povo.Contos != null && povo.Contos.Any())
                                            {
                                                @foreach (var conto in povo.Contos.OrderBy(r => r.Titulo))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Contos" asp-action="index" asp-route-urlHandle="@conto.UrlHandle">@conto.Titulo</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No stories found!</li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td id="tddesc">@povo.CurtaDescricao</td>                      
                        <td class="published-date">@povo.PublishedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <form method="post" asp-controller="AdminPovos" asp-action="Delete" asp-route-id="@povo.Id" id="deleteForm-@povo.Id">
                                <div class="d-flex">
                                    <a class="mx-1" asp-area="" asp-controller="AdminPovos" asp-action="Edit" asp-route-id="@povo.Id">Edit</a>
                                    <a href="#" class="text-danger mx-1" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal-@povo.Id">Delete</a>
                                </div>
                                <!-- Modal Delete -->
                                <div class="modal fade" id="ConfirmDeleteModal-@povo.Id" tabindex="-1" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this people?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No People found!</p>
    }
</div>
@section Scripts
    {
    <script type="text/javascript" src="~/js/SortElements.js"></script>
    <script type="text/javascript" src="~/js/DropdownBuild.js"></script>
}