@{
}
@model TdM.Web.Models.ViewModels.NavbarViewModel
@using TdM.Database.Models.Domain.Enums
@{
    ViewBag.Title = "Personagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Include the navbar partial view and pass the Mundo object to it -->
@if (string.IsNullOrEmpty(ViewBag.MundoUrlHandle))
{
    @await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel {})
}
else
{
    @await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel { MundoUrlHandle = ViewBag.MundoUrlHandle })
}

<head>
    <link type="text/css" rel="stylesheet" href="~/css/ListPersonagens.css" />
</head>

<div class="container py-5">
    <div class="hero mb-5">
        <h1><span class="section-title"></span>Characters</h1>
    </div>

    <nav class="navbar navbar-light justify-content-center mt-4">
            <input type="text" id="search-box" placeholder="Search...">
    </nav>
    @if (Model.Personagens != null && Model.Personagens.Any())
    {

        <div class="card-deck my-3 row-cols-lg-4 row-cols-sm-2 justify-content-center align-items-center">
            @foreach (var personagem in Model.Personagens.OrderBy(p => p.Nome))
            {
                <div id="charactercard" class="card row-cols-lg-4 row-cols-sm-2 my-auto mx-2 mb-3" style="height: 20rem; width: 12rem;">
                    <div class="card_mask p-0 justify-content-between">
                        <a class="text-white" asp-area="" asp-controller="Personagens" asp-action="Index" asp-route-urlHandle="@personagem.UrlHandle">
                            <img src="@personagem.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                        </a>
                    </div>
                    <div class="mask_text w-100">
                        <div class="card-body">
                            <ul id="listcardbottom" class="list-group list-group-flush">
                                <li><h3 class="card-title">@personagem.Nome</h3></li>
                                <li><p class="card-text text-nowrap text-secondary" style="font-size:16px;">@personagem.CurtaDescricao</p></li>
                                @if (personagem.Classe != null)
                                {
                                    <li class="list-group-item">@personagem.Regiao?.Nome</li>
                                }
                                else
                                {
                                    <li class="list-group-item text-secondary">No Region</li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>

            }
        </div>
    }
    else
    {
        <p>No Characters found!</p>
    }
</div>
    
 @section Scripts{
    <script type="text/javascript" src="~/js/SortElements.js"></script>
 }
  
