@model List<TdM.Database.Models.Domain.Mundo>
@using TdM.Database.Models.Domain.Enums

@{
     ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*hero section*@


<div class="containter coll-xxl-8 h-100 ">
    <div class="justify-content-center">
        <div class="d-flex col-12">
            @if (Model != null && Model.Any())
            {
                foreach (var mundo in Model)
                {
                    <div class="card bg-dark text-white col-4 " style="min-height:100vh;">
                        <img src="@mundo.ImgBox" class="card-img h-100" style="object-fit:cover;" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="mb-2">@mundo.Nome</h2>
                            <p class="mb-2">
                                By: @mundo.Autor.GetDisplayName()
                                <br />
                            </p>
                            <p class="mb-2">@mundo.PublishedDate</p>
                            <p class="mb-2">@mundo.CurtaDescricao</p>
                            <a class="btn btn-dark" asp-area="" asp-controller="Mundos" asp-action="Index" asp-route-urlHandle="@mundo.UrlHandle">Read more</a>
                        </div>
                    </div>
                }
            }

           

        </div>
    </div>
</div>
@*end hero*@



