@model List<TdM.Database.Models.Domain.Mundo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@using TdM.Database.Models.Domain.Enums
@{
    ViewBag.Title = "World page";    
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/HomePage.css" />
</head>
<body>
    <partial name="_Navbar2" />
  <section>
        <div class="container-fluid" style="min-height:100vh;">
            <div class="card-grid p-3 p-md-5 justify-content-center align-items-center">
                @if (Model != null && Model.Any())
                {
                    foreach (var mundo in Model.Where(m => m.Visible == true))
                    {
                        <div class="card grow mt-1 bg-dark text-white border-0" style="border-radius:1rem;">
                            <a class="text-white" asp-area="" asp-controller="Mundos" asp-action="Index" asp-route-urlHandle="@mundo.UrlHandle">
                                <img src="@mundo.ImgBox" class="card-img" style="object-fit:cover; height: calc(75vh - 5rem);" alt="...">
                                <div class="py-5 card-img-overlay">
                                    <h2 class="mb-2">@mundo.Nome</h2>
                                    <p class="mb-2">By: @mundo.Autor.GetDisplayName()</p>
                                    <p class="mb-2">@mundo.PublishedDate</p>
                                    <p class="mb-2">@mundo.CurtaDescricao</p>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</body>

