@{
}
@model List<TdM.Database.Models.Domain.Regiao>
@using TdM.Database.Models.Domain.Enums
@{
    ViewBag.Title = "Regions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/ListRegioes.css" />
</head>

<div class="container-fluid py-5">
    @if (Model != null && Model.Any())
    {
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-xl-4  g-2 justify-content-center align-items-center">
            @foreach (var regiao in Model)
            {
                <div id="regioncard" class="card-container card px-0 mx-3" style="width:20rem; height:12rem;">
                    <a class="text-white" asp-area="" asp-controller="Regioes" asp-action="Index" asp-route-urlHandle="@regiao.UrlHandle">
                        <img src="@regiao.ImgCard" class="card-img-top imgfit h-100 w-100" style="object-fit: cover;" alt="@regiao.Nome">
                        <img src="@regiao.Simbolo" class="center imground objcenter" alt="Responsive Image">
                        <div class="card-img-overlay w-100 bottom-0 bg-dark bottom text-center" style="height:4rem;">
                            <h5 class="card-title text-truncate">@regiao.Nome</h5>
                        </div>
                    </a>
                </div>
            }
        </div>


    }
    else
    {
        <p>No Regions found!</p>
    }
</div>
