@model TdM.Web.Models.ViewModels.AddContinenteRequest
@{
}
<partial name="_Navbar2" />
<div class="row mt-4 mb-5">
    <h1 class="text-center">Add Continent - Admin Functionality</h1>
</div>

<div class="container py-5 col-lg-8">
    <form method="post">

        <div class="row row-cols-1 row-cols-md-2 ">
            <div class="align-self-md-start">
                <div class="mb-3">
                    <label for="nome" class="form-label">Continent</label>
                    <input type="text" class="form-control" id="nome" placeholder="Continent Name" asp-for="Nome" required />
                    <span class="text-danger" asp-validation-for="Nome"></span>
                </div>
            </div>
            <div class="mb-5">
                <label for="CurtaDescricao" class="form-label">Short Description</label>
                <textarea class="form-control h-100" type="" placeholder="Continent Short Description" id="CurtaDescricao" name="CurtaDescricao" asp-for="CurtaDescricao" required>
                <span class="text-danger" asp-validation-for="CurtaDescricao"></span>
            </textarea>
            </div>
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Description</label>
            <textarea placeholder="Continent's Description" id="descricao" name="descricao" asp-for="Descricao"></textarea>
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>

        <div class="row row-cols-md-2 mb-3">
            <div class=" mb-5 align-self-md-start">
                <div class="mb-3">
                    <label class="form-label">Upload Display Image</label>
                    <input type="file" id="ImageCardUpload" class="form-control" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="ImgCardUrl" placeholder="Image's URL" asp-for="ImgCard" />
                    <img src="" id="ImageCardUploadDisplay" class="w-100" style="display:none;width:300px; margin-top:1em;" />
                </div>
            </div>
            <div class=" mb-5 align-self-md-start">
                <div class="mb-3">
                    <label class="form-label">Upload Content Image</label>
                    <input type="file" id="ImageBoxUpload" class="form-control" />
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="ImgBoxUrl" placeholder="Image's URL" asp-for="ImgBox" />
                    <img src="" id="ImageBoxUploadDisplay" class="w-100" style="display:none;width:300px; margin-top:1em;" />
                </div>
            </div>
        </div>

        <div class="row mb-3 row-cols-1 row-cols-md-2">
            <div>
                <label class="form-label">Published Date</label>
                <input type="datetime-local" class="form-control" id="publishedDate" asp-for="PublishedDate" required />
                <span class="text-danger" asp-validation-for="PublishedDate"></span>
            </div>
            <div>
                <label class="form-label">URL Handle</label>
                <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" required />
                <span class="text-danger" asp-validation-for="UrlHandle"></span>
            </div>
        </div>

        <div class="form-check form-switch mb-5">
            <label class="form-check-label" for="visible">Visible?</label>
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" checked>
            <span class="text-danger" asp-validation-for="Visible"></span>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-4 mb-1">
                <label class="form-label">World</label>
                <select id="SelectedMundo" class="form-select" asp-items="@Model.Mundos" asp-for="SelectedMundo" onchange="updateRegioesNoContinentByMundo(), updatePovosByMundo(), updateCriaturasByMundo(), updateContosByMundo()">
                    <option value="" class="text-danger">No World</option>
                </select>
            </div>
        </div>

        <div class="justify-content-start">
            <button type="button" class="btn btn-secondary p-0" style="height:2rem; width:3rem;" data-bs-toggle="popover" data-bs-content="Showing World Regions that have no Continent appended and Entities from World"><i class="bi bi-lightbulb"></i></button>
        </div>

        <div class="row text-center row-cols-2 row-cols-md-3 justify-content-center">
            <div class="mb-3">
                <label class="form-label">Regions</label>
                <select id="SelectedRegioes" class="form-select" style="min-height:12rem" asp-items="@Model.Regioes" asp-for="SelectedRegioes"multiple>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Creatures</label>
                <select id="SelectedCriaturas" class="form-select" style="min-height:12rem" asp-items="@Model.Criaturas" asp-for="SelectedCriaturas" multiple>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">People</label>
                <select id="SelectedPovos" class="form-select" style="min-height:12rem" asp-items="@Model.Povos" asp-for="SelectedPovos" multiple>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Stories</label>
                <select id="SelectedContos" class="form-select" style="min-height:12rem" asp-items="@Model.Contos" asp-for="SelectedContos" multiple>
                </select>
            </div>
        </div>

        <div class="mb-3 ">
            <button id="submitbtn" type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/ByMundoSelects.js"></script>
    <script type="text/javascript" src="~/js/Formulario.js"></script>
}