@model List<TdM.Database.Models.Domain.Continente>
@using TdM.Database.Models.Domain.Enums;

<partial name="_Navbar2" />
<div class="row mt-4 mb-5">
    <h1 class="text-center">List Continents - Admin Functionality</h1>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table table-hover  table-responsive-sx" id="table">
            <thead class="text-nowrap">
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">World <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(2)">Continent <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var continente in Model)
                {
                    <tr>
                        <td id="tdid">@continente.Id</td>
                        <td>@continente.Mundo?.Nome</td>
                        <td>
                            <div class="dropdown" id="worldbuild">
                                <button class=" nav-link dropdown-toggle" type="button" id="worldDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @continente.Nome
                                </button>
                                <ul class="dropdown-menu text-center " aria-labelledby="worldDropdownButton">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Continentes" asp-action="index" asp-route-urlHandle="@continente.UrlHandle">@continente.Nome</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="continentsDropdown">
                                            Regions &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="continentsDropdownButton">
                                            @if (continente.Regioes != null && continente.Regioes.Any())
                                            {
                                                @foreach (var regiao in continente.Regioes.OrderBy(r => r.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Regioes" asp-action="index" asp-route-urlHandle="@regiao.UrlHandle">@regiao.Nome</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No regions found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="charactersDropdown">
                                            Characters &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="charactersDropdown">
                                            @if (continente.Personagens != null && continente.Personagens.Any())
                                            {
                                                @foreach (var personagem in continente.Personagens.OrderBy(r => r.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Personagens" asp-action="index" asp-route-urlHandle="@personagem.UrlHandle">@personagem.Nome</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No characters found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="creaturesDropdown">
                                            Creatures &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="creaturesDropdown">
                                            @if (continente.Criaturas != null && continente.Criaturas.Any())
                                            {
                                                @foreach (var criatura in continente.Criaturas.OrderBy(r => r.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Criaturas" asp-action="index" asp-route-urlHandle="@criatura.UrlHandle">@criatura.Nome</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No creatures found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="creaturesDropdown">
                                            People &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="creaturesDropdown">
                                            @if (continente.Povos != null && continente.Povos.Any())
                                            {
                                                @foreach (var povo in continente.Povos.OrderBy(r => r.Nome))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Povos" asp-action="index" asp-route-urlHandle="@povo.UrlHandle">@povo.Nome</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No people found!</li>
                                            }
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" id="creaturesDropdown">
                                            Stories &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu" aria-labelledby="creaturesDropdown">
                                            @if (continente.Contos != null && continente.Contos.Any())
                                            {
                                                @foreach (var conto in continente.Contos.OrderBy(r => r.Titulo))
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-controller="Contos" asp-action="index" asp-route-urlHandle="@conto.UrlHandle">@conto.Titulo</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li class="dropdown-item text-danger" href="#">No stories found!</li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td id="tddesc">@continente.CurtaDescricao</td>
                        <td class="published-date">@continente.PublishedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <form method="post" asp-controller="AdminContinentes" asp-action="Delete" asp-route-id="@continente.Id" id="deleteForm-@continente.Id">
                                <ul class="list-inline flex-nowrap m-0">
                                    <li class="list-inline-item">
                                        <a class="btn btn-sm rounded-0" type="button" asp-area="" asp-controller="AdminContinentes" asp-action="Edit" asp-route-id="@continente.Id"><i class="bi bi-pencil-square"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-sm rounded-0" type="button" data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal-@continente.Id"><i class="bi bi-trash-fill"></i></button>
                                    </li>
                                </ul>
                                <!-- Modal Delete -->
                                <div class="modal fade" id="ConfirmDeleteModal-@continente.Id" tabindex="-1" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this continent?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Continents found!</p>
    }
</div>
@section Scripts
    {
    <script type="text/javascript" src="~/js/SortElements.js"></script>
    <script type="text/javascript" src="~/js/DropdownBuild.js"></script>
}