@model List<TdM.Database.Models.Domain.Continente>
@using TdM.Database.Models.Domain.Enums;
@{

}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all Continents - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {

        <table class="table table-hover  table-responsive-sx" id="table">
            <thead>
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">Continent <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(2)">World <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var continente in Model)
                {
                    <tr>
                        <td id="tdid">@continente.Id</td>
                        <td>@continente.Nome</td>
                        <td>@continente.Mundo?.Nome</td>
                        <td id="tddesc">@continente.CurtaDescricao</td>

                        <td>
                            <a asp-area="" asp-controller="AdminContinentes" asp-action="Edit" asp-route-id="@continente.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Continents found!</p>
    }
</div>
@section Scripts
    {
<script type="text/javascript" src="~/js/SortElements.js"></script>
}