@model TdM.Web.Models.ViewModels.EditRegiaoRequest

@{
}
<partial name="_Navbar2" />
<div class="row mt-4 mb-5">
    <h1 class="text-center">Edit Region - Admin Functionality</h1>
</div>

<div class="container py-5 col-lg-8">
    @if (Model != null)
    {
        <form method="post">
            <div class="row row-cols-1 row-cols-md-2 ">
                <div class="align-self-md-start">
                    <div class="mb-3 ">
                        <label class="form-label">Id</label>
                        <input type="text" id="id" class="form-control" asp-for="Id" readonly required />
                    </div>
                    <div class="mb-3">
                        <label for="nome" class="form-label">Continent</label>
                        <input type="text" class="form-control" id="nome" placeholder="Region Name" asp-for="Nome" required />
                        <span class="text-danger" asp-validation-for="Nome"></span>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="CurtaDescricao" class="form-label">Short Description</label>
                    <textarea class="form-control h-100" type="" placeholder="Region Short Description" id="CurtaDescricao" name="CurtaDescricao" asp-for="CurtaDescricao" required>
                    <span class="text-danger" asp-validation-for="CurtaDescricao"></span>
                        </textarea>
                </div>
            </div>

            <div class="mb-3">
                <label for="descricao" class="form-label">Description</label>
                <textarea placeholder="Region Description" id="descricao" name="descricao" asp-for="Descricao"></textarea>
                <span class="text-danger" asp-validation-for="Descricao"></span>
            </div>

            <div class="row row-cols-lg-3 mb-3">
                <div class="mb-5 align-self-md-start">
                    <div class="mb-3">
                        <label class="form-label">Upload Symbol Image</label>
                        <input type="file" id="SymbolUpload" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="SymbolUrl" placeholder="Image's URL" asp-for="Simbolo" />
                        @if (Model.Simbolo != null)
                        {
                            <img src="@Model.Simbolo" id="SymbolUploadDisplay" class="w-100" style="width:300px; margin-top:1em;" />

                        }
                        else
                        {
                            <img src="" id="SymbolUploadDisplay" class="w-100" style="width:300px; margin-top:1em;" />

                        }
                    </div>
                </div>
                <div class="mb-5 align-self-md-start">
                    <div class="mb-3">
                        <label class="form-label">Upload Display Image</label>
                        <input type="file" id="ImageCardUpload" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="ImgCardUrl" placeholder="Image's URL" asp-for="ImgCard" />
                        @if (Model.ImgCard != null)
                        {
                            <img src="@Model.ImgCard" id="ImageCardUploadDisplay" class="w-100" style="width:300px; margin-top:1em;" />

                        }
                        else
                        {
                            <img src="" id="ImageCardUploadDisplay" class="w-100" style="width:300px; margin-top:1em;" />

                        }
                    </div>
                </div>
                <div class="mb-5 align-self-md-start">
                    <div class="mb-3">
                        <label class="form-label">Upload Content Image</label>
                        <input type="file" id="ImageBoxUpload" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="ImgBoxUrl" placeholder="Image's URL" asp-for="ImgBox" />
                        @if (Model.ImgBox != null)
                        {
                            <img src="@Model.ImgBox" id="ImageBoxUploadDisplay" class="w-100" style="width:300px; margin-top:1em;" />

                        }
                        else
                        {
                            <img src="" id="ImageBoxUploadDisplay" class="w-100" style="width:300px; margin-top:1em;" />

                        }
                    </div>
                </div>
            </div>

            <div class="row mb-3 row-cols-1 row-cols-md-2">
                <div>
                    <label class="form-label">Published Date</label>
                    <input type="datetime-local" class="form-control" id="publishedDate" asp-for="PublishedDate" required />
                    <span class="text-danger" asp-validation-for="PublishedDate"></span>
                </div>
                <div>
                    <label class="form-label">URL Handle</label>
                    <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" required />
                    <span class="text-danger" asp-validation-for="UrlHandle"></span>
                </div>
            </div>

            <div class="form-check form-switch mb-5">
                <label class="form-check-label" for="visible">Visible?</label>
                <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
                <span class="text-danger" asp-validation-for="Visible"></span>
            </div>

            <div class="w-100 mb-3 d-flex justify-content-center align-items-center flex-column">
                <div class="col-md-4 mb-1">
                    <label class="form-label">World</label>
                    <select id="SelectedMundo" class="form-select" asp-items="@Model.Mundos" asp-for="SelectedMundo" onchange="updateContinentes(), updateContos() ">
                        <option value="" class="text-danger">No World</option>
                    </select>
                </div>
                <div class="col-md-4 mb-1">
                    <label class="form-label">Continent</label>
                    <select id="SelectedContinentes" class="form-control" asp-items="@Model.Continentes" asp-for="SelectedContinente" onchange="updateRegioes()" data-single>
                        <option value="" class="text-danger">No Continent</option>
                    </select>
                </div>
            </div>

            <div class="row text-center row-cols-2 row-cols-md-3 justify-content-center">
                <div class="mb-3">
                    <label class="form-label">Stories</label>
                    <select id="SelectedContos" class="form-select" style="min-height:12rem" asp-items="@Model.Contos" asp-for="SelectedContos" multiple>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <div class="d-flex">
                    <button id="submitbtn" type="submit" class="btn btn-dark">Update</button>
                    <button id="submitbtn" type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
                </div>
            </div>

            <!-- Modal Delete -->
            <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Are you sure you want to delete this region?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <button class="btn btn-danger ms-2" type="submit" asp-area="" asp-controller="AdminRegioes" asp-action="Delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    }
    else
    {
        <p>Region not found!</p>
    }

</div>

@section Scripts
    {
    <script type="text/javascript" src="~/js/Formulario.js"></script>
}