@model List<TdM.Database.Models.Domain.Regiao>
@{

}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all Regions - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {

        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">Region <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>
                    <th onclick="sortTable(4)">Continent <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(5)">World <span class="pointer">&#9660</span></th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var regiao in Model)
                {
                    <tr>
                        <td id="tdid">@regiao.Id</td>
                        <td>@regiao.Nome</td>
                        <td id="tddesc">@regiao.CurtaDescricao</td>
                        <td>@regiao.Continente?.Nome</td>
                        <td>@regiao.Mundo?.Nome</td>
                        <td class="published-date">@regiao.PublishedDate.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <a asp-area="" asp-controller="AdminRegioes" asp-action="Edit" asp-route-id="@regiao.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Regions found!</p>
    }
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/SortElements.js" ></script>
}