@model TdM.Web.Models.ViewModels.AddMundoRequest
@using TdM.Database.Models.Domain.Enums
@{
}
<partial name="_Navbar2" />
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Add new World - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5 col-8 ">
    <form method="post">

        <div class="mb-3 col-8">
            <label for="nome" class="form-label">World</label>
            <input type="text" class="form-control" id="nome" asp-for="Nome" />
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Short Description</label>
            <input class="form-control" type="text" placeholder="World's Short Description" id="CurtaDescricao" name="CurtaDescricao" asp-for="CurtaDescricao" />
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Description</label>
            <textarea placeholder="World's Description" id="descricao" name="descricao" asp-for="Descricao"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Upload Content Image</label>
            <input type="file" id="ImageBoxUpload" class="form-control">

            <img src="" id="ImageBoxUploadDisplay" style="display:none;width:300px; margin-top:1em;">
        </div>
        <div class="mb-3">
            <label class="form-label" for="ImgBoxUrl">Content Image</label>
            <input type="text" class="form-control" id="ImgBoxUrl" placeholder="Image's URL" asp-for="ImgBox" />
        </div>

        <div class=" mb-3 form-group col-8">
            <label for="autor" class="form-label">Author</label>
            <select id="autor" asp-for="Autor" class="form-control" asp-items="Html.GetEnumSelectList<Autor>()">
                <option value="">Select Author ...</option>
            </select>
            <span asp-validation-for="Autor" class="text-danger"></span>
        </div>

        <div class="mb-3 col-4">
            <label class="form-label">Published Date</label>
            <input type="datetime-local" class="form-control" id="publishedDate" asp-for="PublishedDate" />
        </div>

        <div class="mb-3">
            <label class="form-label">URL Handle</label>
            <input type="text" class="form-control" id="urlHandle" asp-for="UrlHandle" placeholder="Suggestion: TheGalaxyOfLuna" />
        </div>


        <div class="form-check form-switch mb-3">
            <label class="form-check-label" for="visible">Visible?</label>
            <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" checked>
        </div>
        <div class="mb-3 d-flex">
            <div class="m-2">
                <label class="form-label">Continents</label>
                <select class="form-select" style="width:100px;" asp-items="@Model.Continentes" asp-for="SelectedContinentes">
                </select>
            </div>
            <div class="m-2">
                <label class="form-label">Regions</label>
                <select class="form-select" style="width:100px;" asp-items="@Model.Continentes" asp-for="SelectedContinentes">
                </select>
            </div>
            <div class="m-2">
                <label class="form-label">Characters</label>
                <select class="form-select" style="width:100px;" asp-items="@Model.Continentes" asp-for="SelectedContinentes">
                </select>
            </div>
            <div class="m-2">
                <label class="form-label">People</label>
                <select class="form-select" style="width:100px;" asp-items="@Model.Continentes" asp-for="SelectedContinentes">
                </select>
            </div>
            <div class="m-2">
                <label class="form-label">Criatures</label>
                <select class="form-select" style="width:100px;" asp-items="@Model.Continentes" asp-for="SelectedContinentes">
                </select>
            </div>
            <div class="m-2">
                <label class="form-label">Short Stories</label>
                <select class="form-select" style="width:100px;" asp-items="@Model.Continentes" asp-for="SelectedContinentes">
                </select>
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>

    </form>
</div>

@section Scripts {
        <script type="text/javascript" src="~/js/Formulario.js"></script>
}
