@model List<TdM.Database.Models.Domain.Mundo>
@using TdM.Database.Models.Domain.Enums;
@{

}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="containter">
        <h1>Show all Worlds - Admin Funcionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {

        <table class="table table-hover text-nowrap" id="table">
            <thead>
                <tr>
                    <th id="idcolumn">Id</th>
                    <th onclick="sortTable(1)">World <span class="pointer">&#9660</span></th>                    
                    <th onclick="sortTable(2)">Author <span class="pointer">&#9660</span></th>
                    <th id="desccolumn">Description</th>                 
                    <th class="text-center">World Building</th>
                    <th onclick="sortTable(3)">Published <span class="pointer">&#9660</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-body">
                @foreach (var mundo in Model)
                {
                    <tr>
                        <td id="tdid">@mundo.Id</td>
                        <td>@mundo.Nome</td>
                        <td>@mundo.Autor.GetDisplayName()</td>                       
                        <td id="tddesc">@mundo.CurtaDescricao</td>                       
                        <td>
                            <div class="container-fluid justify-content-center align-content-center text-center">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @mundo.Nome Content
                                </button>
                                    <ul class="dropdown-menu dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item active" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider" /></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                            </div>

                            </div>
                        </td>
                        <td>@mundo.PublishedDate</td>
                        <td>
                            <a asp-area="" asp-controller="AdminMundos" asp-action="Edit" asp-route-id="@mundo.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Worlds found!</p>
    }
</div>
@section Scripts
    {
   
}