@model TdM.Database.Models.Domain.Povo
@using Microsoft.AspNetCore.Identity
@using TdM.Database.Models.Domain.Enums
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = Model.Nome + ", " + Model.CurtaDescricao;

    // Set the value of mundoUrlHandle based on your logic
    var mundoUrlHandle = Model.Mundo.UrlHandle;
}
<head>
    <link type="text/css" rel="stylesheet" href="~/css/IndexPovo.css" />
</head>
<!-- Include the navbar partial view and pass the Mundo object to it -->
@await Html.PartialAsync("_Navbar", new TdM.Web.Models.ViewModels.NavbarViewModel { MundoUrlHandle = mundoUrlHandle, Mundo = Model.Mundo })


@if (Model != null)
{
    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-image: url('@Model.ImgBox'); background-size:cover;background-position:center; height:50em;">
        <div class="mask text-center " style="position: absolute;top:50%; left: 50%; transform: translate(-50%, -50%);">
            <h1 class="text-white fs-3 fw-bolder text-uppercase">
                @Model.Nome
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                { @*  Admin Action*@
                    <button id="btnEdit" class="btn btn-warning btn-small rounded-circle translate-middle position-absolute mx-4">
                        <a class="" asp-area="" asp-controller="AdminPovos" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-wrench-adjustable"></i></a>
                    </button>
                }    @*End of Admin Action*@
            </h1>
            <p class="text-white-50 mb-0 text-uppercase">@Model.CurtaDescricao</p>
        </div>
    </header>

    <!-- Content section-->
    <section class="py-2">
        <div class="container my-5 col-md-5">
            <div class="row justify-content-center ">
                <div class="w-100 col-lg-6">
                    @Html.Raw(Model.Descricao)
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container mb-2 p-3">
            @if (Model.Regioes != null && Model.Regioes.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <h2 class="text-center text-body-secondary m-1">Related Regions</h2>
                    @foreach (var regiao in Model.Regioes.Where(r => r.Visible == true).OrderByDescending(r => r.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-1 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <div class="card_mask p-0 justify-content-between">
                                <a class="text-white" asp-area="" asp-controller="Regioes" asp-action="Index" asp-route-urlHandle="@regiao.UrlHandle">
                                    <img src="@regiao.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                    <img src="@regiao.Simbolo" class="imground opacity-25" alt="...">
                                </a>
                            </div>
                            <div class="mask_text w-100">
                                <div class="card-body">
                                    <ul id="listcardbottom" class="list-group list-group-flush">
                                        <li><h3 class="card-title">@regiao.Nome</h3></li>
                                        <li><p class="card-text text-nowrap text-secondary" style="font-size:16px;">@regiao.CurtaDescricao</p></li>
                                        @if (regiao.Continente != null)
                                        {
                                            <li class="list-group-item"><a class="link-secondary" asp-area="" asp-controller="Continentes" asp-action="Index" asp-route-urlHandle="@regiao.Continente?.UrlHandle">@regiao.Continente?.Nome</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            @if (Model.Personagens != null && Model.Personagens.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <h2 class="text-center text-body-secondary">Related Characters</h2>
                    @foreach (var personagem in Model.Personagens.Where(pe => pe.Visible == true).OrderByDescending(pe => pe.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-1 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <a class="text-white" asp-area="" asp-controller="Personagens" asp-action="Index" asp-route-urlHandle="@personagem.UrlHandle">
                                <div class="card_mask p-0 justify-content-between">
                                    <img src="@personagem.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                </div>
                                <div class="mask_text w-100">
                                    <div class="card-body">
                                        <ul id="listcardbottom" class="list-group list-group-flush">

                                            <li><h3 class="card-title">@personagem.Nome</h3></li>
                                            <li><p class="mb-3 card-text text-nowrap text-secondary" style="font-size:16px;">@personagem.CurtaDescricao</p></li>
                                            @if (personagem.Regiao != null)
                                            {
                                                <li class="list-group-item">@personagem.Regiao?.Nome</li>
                                            }
                                            else
                                            {
                                                <li class="list-group-item text-secondary">No Type</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }

            @if (Model.Criaturas != null && Model.Criaturas.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <h2 class="text-center text-body-secondary">Related Creatures</h2>
                    @foreach (var criatura in Model.Criaturas.Where(cr => cr.Visible == true).OrderByDescending(cr => cr.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-2 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <a class="text-white" asp-area="" asp-controller="Criaturas" asp-action="Index" asp-route-urlHandle="@criatura.UrlHandle">
                                <div class="card_mask p-0 justify-content-between">
                                    <img src="@criatura.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                </div>
                                <div class="mask_text w-100">
                                    <div class="card-body">
                                        <ul id="listcardbottom" class="list-group list-group-flush">
                                            <li><h3 class="card-title">@criatura.Nome</h3></li>
                                            <li><p class="mb-2 card-text text-nowrap text-secondary" style="font-size:16px;">@criatura.CurtaDescricao</p></li>
                                            @if (criatura.Tipo != null)
                                            {
                                                <li class="list-group-item">@criatura.Tipo?.GetDisplayName()</li>
                                            }
                                            else
                                            {
                                                <li class="list-group-item text-secondary">No Type</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }

            @if (Model.Contos != null && Model.Contos.Any())
            {
                <!-- Image element - set the background image for the header in the line below-->
                <div class="row py-2 my-5 my-md-1 justify-content-center aling-items-center border-top border-secondary-subtle border-1">
                    <h2 class="text-center text-body-secondary">Related Stories</h2>
                    @foreach (var conto in Model.Contos.Where(co => co.Visible == true).OrderByDescending(co => co.PublishedDate).Take(6))
                    {
                        <div class="card bg-dark my-auto mx-2 mb-3 p-0" style="height: 15rem; width: 15rem;">
                            <a class="text-white" asp-area="" asp-controller="Contos" asp-action="Index" asp-route-urlHandle="@conto.UrlHandle">
                                <div class="card_mask p-0 justify-content-between">
                                    <img src="@conto.ImgCard" class="card-img-top imgfit h-100 w-100" alt="Image not found!">
                                </div>
                                <div class="mask_text w-100 py-5">
                                    <div class="card-body">
                                        <ul id="listcardbottom" class="list-group list-group-flush">
                                            <li><h3 class="card-title">@conto.Titulo</h3></li>
                                            <li><p class="card-text text-nowrap text-secondary" style="font-size:16px;">@conto.Autor.GetDisplayName()</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </section>

}
else
{
    <p>People not found!</p>
}
